<div fxLayout="column">
  <div>
    <h1>Buscador de Peliculas</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <h3>Buscador</h3>

    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando()"
      />

      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada($event)"
      >
        <mat-option *ngFor="let movie of movies" [value]="movie">
          {{ movie.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
