<div class="page-content">
  <div class="form-v5-content">
    <form (ngSubmit)="guardar()" class="form-detail" [formGroup]="miformulario">
      <h2>Agregar Pelicula</h2>
      <div class="form-row">
        <label for="full-name">nombre</label>
        <input
          type="text"
          name="nombre"
          id="nombre"
          formControlName="nombre"
          style="width: 580px"
          class="input-text"
          placeholder="nombre de la pelicula"
          required
        />
        <i class="fas fa-user"></i>
      </div>
      <div class="form-row">
        <label for="director">director</label>
        <input
          type="text"
          name="director"
          id="director"
          style="width: 580px"
          formControlName="director"
          class="input-text"
          placeholder="nombre del director"
          required
        />
        <i class="fas fa-envelope"></i>
      </div>
      <div>
        <label for="sinopsis">sinopsis</label>
        <textarea
          formControlName="sinopsis"
          style="min-width: 580px"
        ></textarea>
        <i class="fas fa-lock"></i>
      </div>
      <br />
      <span>Actores</span>
      <!-- Agregar Actor --->
      <div class="mb-3 row">
        <div class="col-sm-9">
          <div class="input-group">
            <input
              class="form-control"
              [formControl]="nuevoActor"
              placeholder="Agregar Actor"
            />
            <button
              (click)="agregarActor()"
              class="btn btn-outline-primary"
              type="button"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>

      <!-- Lista de Actores -->
      <div class="mb-3 row">
        <div class="col-sm-9" formArrayName="actores">
          <div
            class="input-group mb-1"
            *ngFor="let actor of actoresArr.controls; let i = index"
          >
            <input class="form-control" [formControlName]="i" />

            <button
              class="btn btn-outline-danger"
              (click)="borrarActor(i)"
              type="button"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
      <span>Canciones</span>
      <!-- Agregar Cancion --->
      <div class="mb-3 row">
        <div class="col-sm-9">
          <div class="input-group">
            <input
              class="form-control"
              [formControl]="nuevaCancion"
              placeholder="Agregar Cancion"
            />
            <button
              (click)="agregarCancion()"
              class="btn btn-outline-primary"
              type="button"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>

      <!-- Lista de Actores -->
      <div class="mb-3 row">
        <div class="col-sm-9" formArrayName="canciones">
          <div
            class="input-group mb-1"
            *ngFor="let actor of cancionesArr.controls; let y = index"
          >
            <input class="form-control" [formControlName]="y" />

            <button
              class="btn btn-outline-danger"
              (click)="borrarCancion(y)"
              type="button"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="full-name">trailerUrl</label>
        <input
          type="text"
          name="trailerUrl"
          id="trailerUrl"
          formControlName="trailerUrl"
          style="width: 580px"
          class="input-text"
          placeholder="nombre de la pelicula"
          required
        />
        <i class="fas fa-user"></i>
      </div>
      <div class="form-row">
        <label for="full-name">file</label>
        <input
          type="file"
          name="file"
          id="file"
          formControlName="file"
          style="width: 580px"
          class="input-text"
          required
        />
        <i class="fas fa-user"></i>
      </div>
      <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Agregar" />
      </div>
    </form>
  </div>
</div>
