<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listar" mat-list-item (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon>menu</mat-icon
        ><span>Listado de peliculas</span></a
      >
      <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon>add</mat-icon><span>agregar pelicula</span></a
      >
      <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon>search</mat-icon
        ><span>buscar pelicula</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
