<div class="container">
  <div>
    <h2>Director :</h2>
    <span class="informacion__span">{{ movie.director }}</span>
    <h2>Actores :</h2>
    <span class="informacion__span">{{ movie.actores }}</span>
    <h2>Sinopsis :</h2>
    <span class="informacion__span">{{ movie.sinopsis }}</span>
    <h2>Canciones :</h2>
    <span class="informacion__span">{{ movie.canciones }}</span>
    <h2>Calificacion</h2>
    <span
      >{{ calificacion }}<mat-icon class="calificacion">stars</mat-icon></span
    >
    <form (ngSubmit)="calificar()" [formGroup]="miformulario">
      <h2>Califica</h2>
      <select formControlName="calificacion">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <br />
      <br />
      <button type="submit" mat-raised-button color="accent">calificar</button>
    </form>
  </div>
  <div class="informacion">
    <h1>{{ movie.nombre }}</h1>
    <img src="{{ movie.posterUrl }}" alt="" />
  </div>
</div>

<div>
  <h1>Comentarios</h1>
  <div *ngFor="let comentario of movie.comentarios; let i = index">
    <mat-card style="margin-bottom: 15px">
      <mat-card-header>
        <mat-card-title style="margin-left: -15px"
          >comentario #{{ i + 1 }}</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>{{ comentario }}</mat-card-content>
    </mat-card>
  </div>
  <form (ngSubmit)="comentar()" [formGroup]="formComment">
    <h2>Comenta</h2>
    <textarea
      style="min-width: 100%; min-height: 100px"
      formControlName="comentarios"
    ></textarea>
    <br />
    <br />
    <button type="submit" mat-raised-button color="accent">Comentar</button>
  </form>
</div>
