<h1>Listado De Peliculas</h1>
<mat-divider></mat-divider>
<br />

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <div
    fxFlex="30"
    fxFlex.lg="15"
    fxFlex.sm="30"
    *ngFor="let movie of movies; let i = index"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ movie.nombre }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ movie.posterUrl }}" />
      <mat-card-content>
        <h3>{{ movie.sinopsis }}</h3>
        <br />
        <h4>Actores</h4>
        <p>{{ movie.actores }}</p>
        <h4>Calificacion</h4>
        <p>
          {{ calificacion[i] }}<mat-icon class="calificacion">stars</mat-icon>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/movies', movie._id]">
          Detalles
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
